*{
    margin: 0;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    background-color: #fafbfc;

}

header{
    background-color: rgb(90, 23, 157);
    padding: 10px;
    color: white;
    text-align: center;
}

main{
    padding: 30px 50px;
}

.card{
    background-color: white;
    border: 3px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput{
    display: grid;
    margin-bottom: 10px;
}

input{
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 3px;
    outline: 0; /* tira a borda quando o usuário clica*/
       
}

button{
    border: 0px;
    padding: 10px;
    outline: 0;
    background-color: rgb(232, 172, 19);
    color: #ffff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3;
}

button:hover{
    background-color: rgb(193, 144, 20);
}

.content{
    margin-top: 15px;
}


table{
    border-collapse: collapse;
    border: 3px solid #ccc;
    width: 100%;
}

table th{
    background-color: #fff;
   
}

table th, td{
    padding: 1px 5px;
    text-align: left;
}

table td img{
    width: 22px;

}

.center{
    text-align: center;
}